#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000
#define ZMK_POINTING_DEFAULT_SCRL_VAL 12

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };
&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <0>;
    time-to-max-speed-ms = <300>;
    delay-ms = <0>;
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <220>;
};

&lt {
    flavor = "tap-preferred";
    tapping-term-ms = <220>;
};

/ {
    vol_encoder: vol_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&kp C_VOL_UP>, <&kp C_VOL_DN>;
        tap-ms = <100>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
        tap-ms = <100>;
    };

    macros {
        snipping_tool: snipping_tool {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(S))>;
        };
    };

    behaviors {};

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
&soft_off         &kp N1        &kp N2        &kp N3        &kp N4        &kp N5      &kp N6       &kp N7        &kp N8         &kp N9          &kp N0          &snipping_tool
&caps_word        &kp Q         &kp W         &kp E         &kp R         &kp T       &kp Y        &kp U         &kp I          &kp O           &kp P           &kp K_APP
&kp C_AL_CALC     &mt LGUI A    &mt LALT S    &mt LCTRL D   &mt LSHFT F   &kp G       &kp H        &mt RSHFT J   &mt RCTRL K    &mt RALT L      &mt RGUI SEMI   &kp C_AC_BACK
&tog 6            &lt 6 Z       &kp X         &kp C         &kp V         &kp B       &kp N        &kp M         &kp COMMA      &kp DOT         &kp UP          &lt 6 FSLH
&kp LCTRL         &kp LGUI      &kp LALT      &lt 4 ESC     &lt 1 SPACE   &lt 5 TAB   &lt 3 ENTER  &lt 2 BSPC    &lt 4 DEL      &kp LEFT        &kp DOWN        &kp RIGHT
            >;
            sensor-bindings = <&vol_encoder>, <&scroll_encoder>;
        };

        NAV {
            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans  &trans      &trans      &trans     &trans    &trans     &trans
&trans  &trans    &trans    &trans     &trans     &trans  &trans      &trans      &trans     &trans    &trans     &trans
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans  &kp CAPS    &kp LEFT    &kp DOWN   &kp UP    &kp RIGHT  &trans
&trans  &trans    &trans    &trans     &trans     &trans  &kp INS     &kp HOME    &kp PG_DN  &kp PG_UP &kp END    &trans
&trans  &trans    &trans    &trans     &trans     &trans  &kp ENTER   &kp LC(V)   &kp BSPC   &trans    &trans     &trans
            >;
            sensor-bindings = <&vol_encoder>, <&scroll_encoder>;
        };

        NUM {
            bindings = <
&trans  &trans     &trans  &trans  &trans   &trans     &trans  &trans     &trans     &trans    &trans    &trans
&trans  &kp LBKT   &kp N7  &kp N8  &kp N9   &kp RBKT   &trans  &trans     &trans     &trans    &trans    &trans
&trans  &kp SEMI   &kp N4  &kp N5  &kp N6   &kp EQUAL  &trans  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI  &trans
&trans  &kp GRAVE  &kp N1  &kp N2  &kp N3   &kp BSLH   &trans  &trans     &trans     &trans    &trans    &trans
&trans  &trans     &trans  &trans  &kp DOT  &kp N0     &trans  &trans     &kp MINUS  &trans    &trans    &trans
            >;
            sensor-bindings = <&vol_encoder>, <&scroll_encoder>;
        };

        SYM {
            bindings = <
&trans  &trans     &trans      &trans       &trans     &trans     &trans  &trans     &trans     &trans    &trans    &trans
&trans  &kp LBRC   &kp AMPS    &kp STAR     &kp LPAR   &kp RBRC   &trans  &trans     &trans     &trans    &trans    &trans
&trans  &kp COLON  &kp DOLLAR  &kp PERCENT  &kp CARET  &kp PLUS   &trans  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI  &trans
&trans  &kp TILDE  &kp EXCL    &kp AT       &kp HASH   &kp PIPE   &trans  &trans     &trans     &trans    &trans    &trans
&trans  &trans     &trans      &kp LPAR     &kp RPAR   &kp UNDER  &trans  &kp UNDER  &trans     &trans    &trans    &trans
            >;
            sensor-bindings = <&vol_encoder>, <&scroll_encoder>;
        };

        MED {
            bindings = <
&bt BT_CLR_ALL  &trans        &trans           &trans          &trans           &trans      &trans      &bt BT_SEL 0     &bt BT_SEL 1    &bt BT_SEL 2     &bt BT_SEL 3  &out OUT_TOG
&bt BT_CLR      &trans        &rgb_ug RGB_EFR  &rgb_ug RGB_TOG &rgb_ug RGB_EFF  &trans      &trans      &bt BT_DISC 0    &bt BT_DISC 1   &bt BT_DISC 2    &bt BT_DISC 3 &trans
&trans          &kp C_PREV    &kp C_VOL_DN     &kp C_MUTE      &kp C_VOL_UP     &kp C_NEXT  &kp C_PREV  &kp C_VOL_DN     &kp C_MUTE      &kp C_VOL_UP     &kp C_NEXT    &trans
&trans          &trans        &trans           &trans          &sys_reset       &bootloader &bootloader &sys_reset       &trans          &trans           &trans        &trans
&trans          &trans        &trans           &trans          &kp C_PP         &kp C_STOP  &kp C_STOP  &kp C_PP         &trans          &trans           &trans        &trans
            >;
            sensor-bindings = <&vol_encoder>, <&scroll_encoder>;
        };

        FUN {
            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans  &kp PRINTSCREEN  &kp F7  &kp F8  &kp F9  &kp F12  &trans
&trans  &trans    &trans    &trans     &trans     &trans  &kp SCROLLLOCK   &kp F4  &kp F5  &kp F6  &kp F11  &trans
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans  &kp PAUSE_BREAK  &kp F1  &kp F2  &kp F3  &kp F10  &trans
&trans  &trans    &trans    &trans     &trans     &trans  &trans           &trans  &trans  &trans  &trans   &trans
&trans  &trans    &trans    &trans     &trans     &trans  &trans           &trans  &trans  &trans  &trans   &trans
            >;
            sensor-bindings = <&vol_encoder>, <&scroll_encoder>;
        };

        POINTER {
            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans       &trans       &trans     &trans     &trans    &trans    &trans
&trans  &trans    &trans    &trans     &trans     &trans       &trans       &trans     &trans     &trans    &trans    &trans
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans       &trans       &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI  &trans
&trans  &trans    &trans    &trans     &sys_reset &bootloader  &bootloader  &sys_reset &trans     &trans    &trans    &trans
&trans  &trans    &trans    &mkp MB2   &mkp MB1   &mkp MB3     &mkp MB3     &mkp MB1   &trans     &trans    &trans    &trans
            >;
            sensor-bindings = <&vol_encoder>, <&scroll_encoder>;
        };

    };
};